@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0px;
    opacity: 0.5;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    background-color: #f1f1f1;
    color: #0f141e;
}

.info-text p{
    font-style: italic;
    font-weight: bold;
    color: #86898f;
}

.block{
    padding: 10px 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 10px;
    color:
}

.top{
    background-color: #5684e7;
}
.table{
    background-color: #da53ef;
}
.form{
    background-color:#ef8f53;
}
.container{
    max-width: 900px;
    margin: auto;
}
.ava{
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    float: left;
    margin-right: 50px;
    width: 200px;
    transition: 1s;
}
.ava:hover{
    transform: scale(1.2);
    /* width: 300px; */
}
/* 
.info-text a{
    text-decoration: none;
    font: inherit;
    color: #0f141e;
}

.info-text a:hover{
    text-decoration: none;
    font: inherit;
    color: rgb(56, 174, 221); 
}


.table table{
    width: 100%;
    margin-bottom: 30px;
}
.table table td{
    color: #fff;
    padding: 10px
}
.table table td:first-child{
    color: #0f141e;
    font-weight: bold;
}
.table table tr{
    height: 30px;
}
.table table tr:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.1);
    
}


.form-group label{
    display: block;
    font-size: 14px;
    color:  #444546;
}
.form-group input, .form-group textarea{
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    margin-bottom: 20px;
}
.form-raw{
    display: flex;
}
.form-raw .form-group{
    width: 50%;
}
.form input[type=submit]{
    background-color: black;
    padding: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.form input[type=submit]{
    transition: .3s cubic-bezier(0, 0.47, 0.94, 0.91);
}

.form input[type=submit]:hover{
    transform: scale(1.2);
} */

.info-text a{
    text-decoration: none;
    color: #0f141e;
}
.info-text a:hover{
    color: rgb(56, 174, 221);
}

.table table{
    /* border: 1px solid black; */
    width: 100%;
    margin-bottom: 30px;
    color: #fff;
}
.table table td{
    /* border: 1px solid black; */
    padding: 10px;
}

.table table td:first-child{
    color: #0f141e;
    font-weight: bold;
}
.table table tr:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.1);
}
.form-group{
    display: block;
    font-size: 14px;
    color: rgb(22, 22, 22);
    margin-bottom: 20px;

}
.form-group input, .form-group textarea{
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 7px;
    outline: none;
}
.form-raw{
    display: flex;
}

.form-raw .form-group{
    width: 50%;
}
.form-raw .form-group input{
    width: 80%;
}
.form input[type=submit]{
    background-color: black;
    color: white;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: .3s cubic-bezier(0, 0.47, 0.94, 0.91);
}
.form input[type=submit]:hover{
    transform: scale(1.2);
}
